In [2]:
import pandas as pd

In [17]:
Dota = pd.read_csv('https://github.com/Shakirov-ER/brunoyam-ds-SC372-2560/blob/main/data/dota_hero_stats.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 25, saw 376

# Домашняя работа

# Easy
Открыть набор данных dota_hero_stats.csv из папки data.

Данные взяты отсюда, на этом же сайте можно найти больше разнообразных данных по Dota2.

Пересчитаем число ног у героев игры Dota2! Сгруппируйте героев из датасэта по числу их ног (колонка legs), и посчитайте количество героев для каждого значения legs

In [14]:
Dota = pd.read_csv('C:/Users/wwwpo/Documents/dota_hero_stats.csv', index_col=0)

In [15]:
Dota['legs'].unique()

array([2, 4, 0, 6, 8], dtype=int64)

In [16]:
Dota['legs'].value_counts()

2    95
0    11
4     7
6     3
8     1
Name: legs, dtype: int64

# Normal
Продолжим исследование героев Dota2. Сгруппируйте по колонкам attack_type и primary_attr и выберите самый распространённый набор характеристик. Выведите список героев с этим набором характеристик

In [17]:
Dota

,attack_type,id,legs,localized_name,name,primary_attr,roles
0,Melee,1,2,Anti-Mage,npc_dota_hero_antimage,agi,"['Carry', 'Escape', 'Nuker']"
1,Melee,2,2,Axe,npc_dota_hero_axe,str,"['Initiator', 'Durable', 'Disabler', 'Jungler']"
2,Ranged,3,4,Bane,npc_dota_hero_bane,int,"['Support', 'Disabler', 'Nuker', 'Durable']"
3,Melee,4,2,Bloodseeker,npc_dota_hero_bloodseeker,agi,"['Carry', 'Disabler', 'Jungler', 'Nuker', 'Ini..."
4,Ranged,5,2,Crystal Maiden,npc_dota_hero_crystal_maiden,int,"['Support', 'Disabler', 'Nuker', 'Jungler']"
...,...,...,...,...,...,...,...
112,Melee,114,2,Monkey King,npc_dota_hero_monkey_king,agi,"['Carry', 'Escape', 'Disabler', 'Initiator']"
113,Ranged,119,2,Dark Willow,npc_dota_hero_dark_willow,int,"['Support', 'Nuker', 'Disabler', 'Escape']"
114,Melee,120,2,Pangolier,npc_dota_hero_pangolier,agi,"['Carry', 'Nuker', 'Disabler', 'Durable', 'Esc..."
115,Ranged,121,2,Grimstroke,npc_dota_hero_grimstroke,int,"['Support', 'Nuker', 'Disabler', 'Escape']"
116,Melee,129,2,Mars,npc_dota_hero_mars,str,"['Carry', 'Initiator', 'Disabler', 'Durable']"

In [22]:
df = Dota.groupby(['attack_type', 'primary_attr']).count()[['id']]
df[df.id == df.id.max()]

                          id
attack_type primary_attr
Ranged      int           40

ValueError: No axis named primary_attr for object type DataFrame